.list {
  padding: 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  --mdc-list-item-primary-text-ink-color: #fff;
}