@import "preact-material-components/Switch/_mixins.scss";
.auto {
  padding: 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .h1 {
    padding: 0px;
    align-items: center;
  }
  .button {
    padding: 15px;
    .css-prop-override {
      color: #fff;
      width: 170px;
    }
    padding-top: 5px;
  }
  .switch {
    padding: 15px;
    --mdc-theme-secondary: #dc4437;
    padding-bottom: 35px;
  }
  .pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .image {
    padding-bottom: 2px;
  }
}
