
.auto {
  padding: 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  padding: 0px;
  align-items: center;
}
.button {
  padding: 15px;
  --mdc-theme-primary: #dc4437;
	/*mdc-button-ink-color   <-- text color should be white*/

}
.switch {
  padding: 15px;
  --mdc-theme-primary: #fff;
  --mdc-theme-secondary: #dc4437;
}