.login{
	padding: 20px;
	min-height: 100%;
	width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button{
 --mdc-theme-primary: #E91E63;
	background-color: var(--mdc-theme-primary);
}
